<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detail People</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-avatar slot="start">
      <img src={{avatar}}>
    </ion-avatar>
    <ion-label >
      <h2>{{first}} {{last}}</h2>
      <h3>{{email}}</h3>
      <p>{{company}}</p>
    </ion-label>
  </ion-item>
</ion-content>
